<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="preconnect" href="https://fonts.gstatic.com"/>
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400&family=Bangers&display=swap"
      rel="stylesheet"/>

<head>
    <title>Sentinel Comics RPG Random Character Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/common.css}" rel="stylesheet"/>
</head>

<body>
<table id="characteristics">
    <thead>
    <tr>
        <th colspan="2">
            <button onclick="location.href='/'" type="button">
                Main Page
            </button>
        </th>
    </tr>
    <tr>
        <th colspan="2" class="newbtnhead">
            <button onclick="location.href='/newhero'" type="button">
                Click for New Hero
            </button>
        </th>
    </tr>
    <tr>
        <th colspan="2" class="seed">
            <a th:href="@{/newhero/{seed}(seed=${hero.getSeed()})}">
                Seed: <strong th:text="${hero.getSeed()}"></strong>
            </a>
        </th>
    </tr>
    <tr>
        <th colspan="2">Characteristics</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><em>Background</em> <strong th:text="${hero.getBackground().toString()}"></strong></td>
        <td><em>Power Source</em> <strong th:text="${hero.getPowerSource().toString()}"></strong></td>
    </tr>
    <tr>
        <td><em>Archetype</em> <strong th:text="${hero.getArchetype().toString()}"></strong></td>
        <td><em>Personality</em> <strong th:text="${hero.getPersonality().toString()}"></strong></td>
    </tr>
    </tbody>
</table>

<table id="principletable">
    <thead>
    <tr>
        <th colspan="2">
            Principles
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:each="princ: ${hero.getPrinciples()}">
            <strong th:text="${princ.toString()}"></strong>
        </td>
    </tr>
    </tbody>
</table>

<table id="traitstable">
    <tr>
        <td>
            <table id="powerstable">
                <thead>
                <tr>
                    <th>Powers</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="power: ${hero.getPowers()}">
                    <td>
                        <span th:text="${power.getName()}"></span>
                        <img th:if="${power.getDieRating() == 6}" th:src="@{/assets/d6.svg}"/>
                        <img th:if="${power.getDieRating() == 8}" th:src="@{/assets/d8.svg}"/>
                        <img th:if="${power.getDieRating() == 10}" th:src="@{/assets/d10.svg}"/>
                        <img th:if="${power.getDieRating() == 12}" th:src="@{/assets/d12.svg}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <table id="qualitiestable">
                <thead>
                <tr>
                    <th>Qualities</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="quality: ${hero.getQualities()}">
                    <td>
                        <span th:text="${quality.getName()}"></span>
                        <img th:if="${quality.getDieRating() == 6}" th:src="@{/assets/d6.svg}"/>
                        <img th:if="${quality.getDieRating() == 8}" th:src="@{/assets/d8.svg}"/>
                        <img th:if="${quality.getDieRating() == 10}" th:src="@{/assets/d10.svg}"/>
                        <img th:if="${quality.getDieRating() == 12}" th:src="@{/assets/d12.svg}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<table id="abilitiestable">
    <thead>
    <tr>
        <th colspan="2">Abilities</th>
    </tr>
    <tr>
        <td>
            Name
        </td>
        <td>
            Trait(s) Used
        </td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ability: ${hero.getGreenAbilities()}" class="greenabls">
        <td th:text="${ability.getName()}"></td>
        <td th:text="${ability.getTraitSelection()}"></td>
    </tr>
    <tr th:each="ability: ${hero.getYellowAbilities()}" class="yellowabls">
        <td th:text="${ability.getName()}"></td>
        <td th:text="${ability.getTraitSelection()}"></td>
    </tr>
    <tr th:each="ability: ${hero.getRedAbilities()}" class="redables">
        <td th:text="${ability.getName()}"></td>
        <td th:text="${ability.getTraitSelection()}"></td>
    </tr>

    </tbody>

</table>
</body>

</html>