<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="preconnect" href="https://fonts.gstatic.com"/>
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400&family=Bangers&display=swap"
      rel="stylesheet"/>

<head>
    <title>Sentinel Comics RPG Random Character Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/common.css}" rel="stylesheet"/>
</head>

<body>
<table id="characteristics">
    <thead>
    <tr>
        <th colspan="2">
            <button onclick="location.href='/'" type="button">
                Main Page
            </button>
        </th>
    </tr>
    <tr>
        <th colspan="2" class="newbtnhead">
            <button onclick="location.href='/newvillain'" type="button">
                Click for New villain
            </button>
        </th>
    </tr>
    <tr>
        <th colspan="2" class="seed">
            <a th:href="@{/newvillain/{seed}(seed=${villain.getSeed()})}">
                Seed: <strong th:text="${villain.getSeed()}"></strong>
            </a>
        </th>
    </tr>
    <tr>
        <th colspan="2">Characteristics</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><em>Approach</em> <strong th:text="${villain.getApproach().toString()}"></strong></td>
        <td><em>Archetype</em> <strong th:text="${villain.getArchetype().toString()}"></strong></td>
    </tr>
    </tbody>
</table>

<table id="traitstable">
    <tr>
        <td th:text="'Base Health: ' + ${villain.getHealth()}">
        </td>
    </tr>
    <tr>
        <td>
            <table id="powerstable">
                <thead>
                <tr>
                    <th>Powers</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="power: ${villain.getPowers()}">
                    <td>
                        <span th:text="${power.getName()}"></span>
                        <img th:if="${power.getDieRating() == 6}" th:src="@{/assets/d6.svg}"/>
                        <img th:if="${power.getDieRating() == 8}" th:src="@{/assets/d8.svg}"/>
                        <img th:if="${power.getDieRating() == 10}" th:src="@{/assets/d10.svg}"/>
                        <img th:if="${power.getDieRating() == 12}" th:src="@{/assets/d12.svg}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <table id="qualitiestable">
                <thead>
                <tr>
                    <th>Qualities</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="quality: ${villain.getQualities()}">
                    <td>
                        <span th:text="${quality.getName()}"></span>
                        <img th:if="${quality.getDieRating() == 6}" th:src="@{/assets/d6.svg}"/>
                        <img th:if="${quality.getDieRating() == 8}" th:src="@{/assets/d8.svg}"/>
                        <img th:if="${quality.getDieRating() == 10}" th:src="@{/assets/d10.svg}"/>
                        <img th:if="${quality.getDieRating() == 12}" th:src="@{/assets/d12.svg}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<table id="abilitiestable">
    <thead>
    <tr>
        <th colspan="2">Abilities</th>
    </tr>
    <tr>
        <td>
            Name
        </td>
        <td>
            Trait(s) Used
        </td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ability: ${villain.getAbilities()}" class="villainabls">
        <td th:text="${ability.getName()}"></td>
        <td th:text="${ability.getTraitSelection()}"></td>
    </tr>
    </tbody>
</table>
<table th:if="${villain.getMastery()}" id="masterytable">
    <thead>
    <tr>
        <th colspan="2">mastery</th>
    </tr>
    <tbody>
    <tr class="villainmastery">
        <td th:text="${villain.getMastery()}"></td>
    </tr>
    </tbody>
</table>
<table th:if="${villain.getUpgrades().size() > 0}" id="upgradestable">
    <thead>
    <tr>
        <th colspan="2">Upgrades</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="upgrade: ${villain.getUpgrades()}" class="villainupgrades">
        <td th:text="${upgrade.getName().toString()}"></td>
    </tr>
    </tbody>
</table>
</body>