body {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1em;
    text-transform: capitalize;
}

td {
    padding: .3em;
    border-top: 1px solid black;
    height:100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-family: "Bangers", sans-serif;
    font-size: 1.5em;
    background: linear-gradient(45deg, red, orange);
    padding: .6em;
    height:100%;
}

.newbtnhead {
    background: linear-gradient(45deg, green, orange);
    padding:0;
}

#traitstable>tbody>tr>td {
    vertical-align: top;
    border: none;
    padding: 0;
}

.thead {
    text-align: center;
}

.greenabls {
    background-color: green;
    color: white;
}

.yellowabls {
    background-color: yellow;
}

.redables {
    background-color: maroon;
    color: white;
}

.villainabls {
    background-color: #e9e9e9;
    color: black;
}

.villainmastery {

}

.villainupgrades {

}

#traitstable img {
    width: 1.3em;
    vertical-align: middle;
}

.seed {
    font-family: "Bangers", sans-serif;
    font-size: 1.5em;
    background: lightblue;
    padding: .6em;
}

a:link, a:visited{
    color:black;
}

button {
    border: none;
    background: linear-gradient(45deg, darkblue, blue);
    color: peachpuff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 1rem;
    font-family: "Bangers", sans-serif;
    font-size: 1em;
}